@model TextboxBook.UI.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/_Layout.cshtml";
}

<form asp-controller="profile" class="col-md-4 mx-auto border rounded-lg p-3" asp-action="changepassword" method="post">
    <div class="form-group">
        <input type="password" class="form-control" asp-for="OldPassword" placeholder="Old Password" />
        <span asp-validation-for="OldPassword"></span>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" asp-for="NewPassword" placeholder="New Password" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="text-right">
        <button class="btn btn-success">Update</button>
    </div>
</form>
