@model TextboxBook.UI.Models.AuthorListViewModel
@{
    ViewData["Title"] = "ListAuthor";
    Layout = "~/Views/_Layout.cshtml";
    <link rel=" stylesheet" type="text/css" href="~/css/AuthorList.css" />

}


<div class="container">

    <div class="row">

        <div class="col-md-10 mx-auto">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="listebasligi text-center">Img</th>
                        <th scope="col" class="listebasligi text-center">Name</th>
                        <th scope="col" class="listebasligi text-center">Birth Year</th>
                        <th scope="col" class="listebasligi text-center">Informations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Authors)
                    {
                        <tr>
                            <td class="align-middle ">
                                <img src="@item.AuthorImg" width="64" class="img-fluid bookimg mx-auto d-block" />
                            </td>
                            <td class="align-middle">
                                <p class="listeyazisi text-center">@item.Name</p>
                            </td>
                            <td class="align-middle">
                                <p class="listeyazisi text-center">@item.BirthDate</p>
                            </td>
                            <td class="align-middle">
                                <a asp-controller="author" asp-action="detail" asp-route-Id="@item.Id" class="btn btn-xs btn-primary col-md-12"> Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>
