@model TextboxBook.UI.Models.PublisherEditViewModel
@{
    ViewData["Title"] = "EditPublisher";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-md-12">

            <form asp-controller="admin" asp-action="editpublisher" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="Publisher.Name" />
                    <span asp-validation-for="Publisher.Name"></span>
                </div>
                <div class="text-right">
                    <input type="hidden" asp-for="Publisher.Id" />
                    <a class="btn btn-info rounded-pill" asp-action="listpublisher">Publishers</a>
                    <input type="submit" class="btn btn-success rounded-pill" value="Update" />
                </div>
            </form>
        </div>
    </div>

</div>